<div class="m-container">
    <div class="m-row">
        <a href="#" id="m-navbar-brand" class="m-col-t-9 m-col-m-none m-left-m"
            >Blueprint</a
        >
        <a
            id="m-navbar-show"
            href="#navigation"
            title="Show navigation"
            class="m-col-t-3 m-hide-m m-text-right"
        ></a>
        <a
            id="m-navbar-hide"
            href="#"
            title="Hide navigation"
            class="m-col-t-3 m-hide-m m-text-right"
        ></a>
        <div
            id="m-navbar-collapse"
            class="m-col-t-12 m-show-m m-col-m-none m-right-m"
        >
            <div class="m-row">
                <ol>
                    <li><a href="pages.html">Pages</a></li>
                    <li><a href="requirements.html">Requirements</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>
